In [2]:
%matplotlib inline
import numpy as np
#import pandas as pd
import matplotlib.pyplot as plt
#from pymongo import mongo_
from pymongo import MongoClient
#from pandas.io.json import json_normalize
import json
import warnings
warnings.filterwarnings('ignore')

In [3]:
from pymongo import MongoClient

In [4]:
Client = MongoClient('localhost',27017)

# show database name

In [6]:
Client.list_database_names()

['admin', 'config', 'library', 'libros', 'local']

In [37]:
print(Client.list_database_names())

['admin', 'config', 'library', 'libros', 'local']

In [7]:
db = Client.libros

In [8]:
collect_names = db.list_collection_names()

In [9]:
collect_names

['aventura']

In [10]:
collection = db["books"]

In [11]:
book={}

In [12]:
book["title"]="calculus"

In [13]:
book["year"]= 2018

In [14]:
collection.insert(book)

ObjectId('5d36281450871e6bf94a037d')

In [15]:
print(book)

{'title': 'calculus', 'year': 2018, '_id': ObjectId('5d36281450871e6bf94a037d')}

In [42]:
count_year = db.book.find({'year': 2019}).count()

In [43]:
count_year

0

In [24]:
myquery = { "title": "calculus" }
newvalues = { "$set": { "year": 2019 } }

db.book.update_one(myquery, newvalues)

In [48]:
print(db.book.update_one(myquery, newvalues))

<pymongo.results.UpdateResult object at 0x000001DC3BAD3B08>

In [ ]:
print(book)

In [17]:
db.book.find({"year":2018})

In [18]:
 cursor = collection.find()

In [19]:
db.book.find({"year":2018})

In [30]:
db.book.find()
{
    "title":"calculus",
    "year" : 2018
    
}

{'title': 'calculus', 'year': 2018}

In [21]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'libros')

In [22]:
db.usuarios.insert({"nit":"7489","name":"peter","clave":"4321","pais":"Angola"})

ObjectId('5d36286950871e6bf94a037e')